* {
    margin: 0px 0px;
    padding: 0px 0px;
}

body
{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(71, 27, 27);
    height: 100%;
    text-align:center;
    width:100%;
}

.page
{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom:-29px
}

.container
{
    height: 100vh;
    overflow: hidden;
    background-size:cover;
    background-position: center;
    background-image: url('sewing.jpeg');
}

.top
{
    height: 20vh;
    display:flex;    
}

.logo
{
    margin-top:15px;
    margin-left: 30px;
    width:200px;
    text-align: center;
    
}

.menu
{
    display: flex;
    flex-direction:row;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    height: 5vh;
    margin-top:100px;
    letter-spacing: 1px;
    padding:10px;
    gap:30px;
    color:rgb(255, 255, 255);
    font-size: 20px;
}



.Offer
{
    list-style-type: none;
    cursor: pointer;
    
}

.Offer:hover
{
    text-decoration: underline;
    color:#f44546;
    transition: all 0.5s ease-out;
}

.menu a
{
    text-decoration:none;
    color:rgb(255, 255, 255);
}



.kontakt
{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    flex:right;
    margin-bottom: 100px;
    gap:10px;
}

.phone
{
    display: flex;
    width:60px;
    height:60px;
    align-items:center;
    text-align: center;
    justify-content: center;
     border-radius: 50%;
     background-color: rgb(71, 27, 27);
}

.phone:hover
{
    transition: all 0.5s ease-in;
    cursor: pointer;
    background-color: rgb(128, 51, 51);;
}

.place:hover
{
    transition: all 0.5s ease-in;
    cursor: pointer;
    background-color: #35c57f;
}

.facebook:hover
{
    transition: all 0.5s ease-in;
    cursor: pointer;
    background-color: #5688eb;
    
}

.place
{
    display: flex;
    align-items:center;
    text-align: center;
    justify-content: center;
    width:60px;
    height:60px;
    border-radius: 50%;
    background-color:#1a8f56;
}

.facebook
{
    width:60px;
    height:60px;
    border-radius: 50%;
    display: flex;
    align-items:center;
    text-align: center;
    justify-content: center;
    background-color:#4267B2;
}

.Phoneic
{
    font-size: 25px;
}

.Placeic
{
    font-size: 25px;
    color:#f44546;
    
}

.Fbic
{
    font-size: 25px;
    color:white;
}

.mid
{
    display:block;
}

.motto
{

    font-size: 50px;
    color:white;
    text-align: center;
    margin-top:200px;
    
}

.Check
{
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    color:rgb(71, 27, 27);
    padding: 1rem;
    border-radius:100px;
    letter-spacing: 2px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Check:hover
{
    background-color: rgb(71, 27, 27);
    cursor: pointer;
    color:bisque;
    transition: all 1s ease-in-out;
}

.title
{
   -webkit-box-shadow: -2px 5px 35px 0px rgb(255, 255, 255);
   -moz-box-shadow: -2px 5px 35px 0px rgb(173, 76, 76);
   box-shadow: -2px 5px 35px 0px rgb(223, 123, 123);
   background-color: aliceblue;
   margin-left: auto;
   margin-right: auto;
   margin-top: 150px;
   width:200px;
   height:80px;
   border-radius: 100px;
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
   font-size: 40px;
   animation:color ease-in-out;
   animation-duration:3s;
   animation-iteration-count: infinite;
   animation-delay: 5s;
}

@keyframes color
{
    0%{background-color: aliceblue;}
   100%{background-color: #812b2b;}
}


.content
{
   display: flex;  
   padding:50px;
   width:1400px;
   height:800px;
   background-color: #d6cdcd;
   margin-left: auto;
   margin-right: auto;
   margin-top: 30px;
   border:1px solid rgb(0, 0, 0);
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



.text
{
    display: flex;
    margin-right:35px;
    text-align: left;
    font-size: 22px;
    float:left;
    letter-spacing: 0.5px;
    line-height: 140%;
    text-indent: 30px;
}

.photo
{
    float:left;
    width:400px;
    height: 267px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.text1
{
    
    display:flex;
    
    align-items: center;
    text-align: center;
    justify-content: center;
    width:400px;
    height: 200px;
    background-color: #1a8f56;
}


.footer
{
    width: 100%;
    margin-top: 150px;
    height: 250px;
    background-color: black;
    display: flex;
    clear:both;
    size-adjust:initial;
}


.copy
{
    color: rgb(194, 194, 194);
    float:left;
    margin-top: 130px;
}

.data
{
    color:rgb(194, 194, 194);
    float:left;

}

.placeFoot
{
    color:rgb(194, 194, 194);
    display: flex;
    flex-direction: column;
    width:300px;
    float:left;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    gap:5px;

}

.dayOpen
{
    display: flex;
    flex-direction: column;
    width:200px;
    float:left;
    margin-top: 50px;
    margin-left: 200px;
    gap:5px;
    clear:both;
}

.mapouter
{
    color:rgb(194, 194, 194);
    width:200px;
    height: 100px;
    margin-top: 25px;
}

.cookies
{
    display: flex;
    flex-direction: column;
    width:250px;
    float:right;
    margin-top: 90px;
    margin-left: 150px;
    gap:10px;
    color:rgb(194, 194, 194);

}

.infocook
{
    text-decoration:underline;
}

.Warning
{
    text-decoration:underline;
}

.conta
{
    font-weight: bold;
}

.hoursOpen
{
    font-weight: bold;
}

.footin
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.placeFoot a
{
    
    color:rgb(194, 194, 194);
}


